h1 {
  font-size: 55px;
}
h2 {
  font-size: 55px;
}

h3 {
  font-size: 20px;
}
.clouds {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.time {
  font-size: 24px;
}
.forecast {
  position: fixed;
  bottom: 200px;
  left: 450px;
}

.citySearch {
  position: fixed;
  top: 50px;
  left: 450px;
  margin-bottom: 20px;
}
.card {
  font: 12px;
  background-color: rgb(241, 206, 89);
}
.list-group-item {
  font-size: 12px;
  color: #090a0a;
  background-color: rgb(207, 210, 228);
}
.meteo {
  border: 300px solid rgba(238, 214, 214, 0.575);
  padding: 0 auto;
  margin: 10px 350px;
  border-radius: 10px;
}

.unit {
  position: relative;
  top: -25px;
  right: 10px;
  font-size: 10px;
  display: inline;
  line-height: 24px;
  color: black;
}

.codes {
  display: block;
  margin: 10px 350px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
