body {
  font-family: arial, sans-serif;
}

h1 {
  font-size: 37px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.meteo {
  border: 2px solid rgba(238, 214, 214, 0.575);
  padding: 20px;
  margin: 30px auto;
  border-radius: 9px;
  max-width: 600px;
  background-color: rgba(210, 231, 243, 0.575);
}

.codes {
  display: block;
  margin: 10px 350px;
  padding: auto;
}

.citySearch {
  line-height: 24px;
  margin-bottom: 20px;
}

.element {
  line-height: 20px;
}
.shift {
  text-align: right;
  line-height: 18px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: blue;
}

.show-temperature img {
  margin-right: -13px;
  height: 100px;
  width: 100px;
  display: inline-block;
  line-height: 100px;
  vertical-align: top;
}
.show-temperature strong {
  font-size: 45px;
  line-height: 100px;
  font-weight: 400;
  color: black;
  text-align: right;
  margin-bottom: 0;
}
.units {
  position: relative;
  font-size: 14px;
  top: -24px;
}
