body {
  font-family: arial, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
  color: black;
}

h2 {
  font-size: 30px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
  color: black;
  text-align: right;
  bottom: 300px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.meteo {
  border: 2px solid rgba(238, 214, 214, 0.575);
  padding: 20px;
  margin: 30px auto;
  border-radius: 9px;
  max-width: 600px;
  background-color: rgba(238, 214, 214, 0.575);
}

.clouds {
  width: 100px;
  display: inline-block;
}

.codes {
  display: block;
  margin: 10px 350px;
}

.citySearch {
  line-height: 24px;
  margin-bottom: 20px;
}

.shift {
  text-align: right;
  line-height: 30px;
}
